#navigation-container {
  overflow: hidden; /* Hide overflowing content during transition */
}

#navigation-container:hover {
  width: calc(5.5% + 100px);
}

/* Initially hide nav-item-name */
.nav-item-name {
  opacity: 0;
  width: 0;
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .nav-item-name {
  opacity: 1;
  width: auto;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: calc(5.5% + 100px);
  }

  .sidebar .nav-item-name {
    opacity: 1;
    width: auto;
  }
}
